.constructorScroll {
    overflow-y: auto;
    max-height: calc(100vh - 630px);
}

.constructorList {
    display: flex; 
    flex-direction: column; 
    gap: 16px;
}

.constructorWrapper {
    gap: 40px;
    max-width: 617px;
}

