.constructorScroll {
    overflow-y: auto;
    max-height: calc(100vh - 630px);
}

.constructorList {
    display: flex; 
    flex-direction: column; 
    gap: 16px;
}

.draggable {
    transition: 0.3s;
    position: relative;
}

.draggable.hover {
    border: 1px solid #6fa46f;
}

.draggable::before {
    content: url('../../image/icons/draggable.png');
    position: absolute;
    top: 30px;
    left: -29px;
}

.constructorWrapper {
    gap: 40px;
    max-width: 617px;
    /* justify-content: space-between; */
}

