.headerButton {
    display: flex;
}

.headerButtonGroup {
    display: flex;
}

.header a {
    color: #8585AD;
}

.header {
    background-color: #1C1C21;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.headerContent {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
}

.activeLink {
    color: #ffffff !important;
}